{% extends 'base.html.twig' %}
{% block title %}Créer un Groupe{% endblock %}
{% block body %}
    <h1>Créer un Groupe</h1>

    <section>
        {{ form(create_band_form) }}
    </section>

{% endblock %}
