{% extends 'base.html.twig' %}
{% block title %}Modifier Groupe{% endblock %}
{% block body %}
    <h1>Modifier Groupe</h1>

    <section>
        {{ form(edit_band_form) }}
    </section>

    {% include '_layout/return_button.html.twig' %}
{% endblock %}
